@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  max-width: 100% !important;
}

#root {
  max-width: 1560px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.link {
  color: cornflowerblue;
}

.link:hover {
  color: darkblue;
}

.focus-input:focus {
  outline: none;
  box-shadow: none;
}

@media screen and (max-width: 600px) {
  #root {
    width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
